<section class="founder">
	<div class="founder-inner container">
		<div class="founder-intro">
			<h4 class="founder-intro__title">
				Who's The Man <br />
				Behind All Of This?
			</h4>
			<p class="founder-intro__greetings">Hey, I'm Antonio Centeno.</p>
			<p class="founder-intro__descr">
				I’m a former US Marine Officer with a BA in Evolutionary Biology &
				Philosophy (Cornell College) & MBA (UT Austin), and the founder of Real
				Men Real Style.
			</p>
			<p class="founder-intro__descr">
				Over the last decade, I’ve helped over 300 million men discover the
				Science of Style through my articles and videos on Youtube. A few years
				ago I became addicted to collecting colognes because I loved the way
				they make me feel more energized, focused, and attractive.
			</p>
			<p class="founder-intro__descr">
				I soon realized most men don’t understand the power of scent. In fact,
				80% of American men don’t wear fragrance on a regular basis because they
				don’t see the value.
			</p>
			<p class="founder-intro__descr">
				I created the Mission Fragrance Set to help you discover the power of
				scent triggers and leverage them to become the man you know yourself to
				be.
			</p>
			<div class="founder-intro__sign">
				<img src="/public/assets/images/sign.png" alt="" />
			</div>
		</div>
		<div class="founder-presentation">
			<div class="founder-presentation__img-wrap">
				<img src="/public/assets/images/founder-img.png" alt="" />
			</div>
			<p class="founder-presentation__name">Antonio Centeno</p>
			<div class="founder-presentation__socials">
				<a class="founder-presentation__socials-link" href="#">
					<svg class="icon-founder founder__svg" role="presentation">
						<use xlink:href="#icon-facebook"></use>
					</svg>
				</a>
				<a class="founder-presentation__socials-link" href="#">
					<svg class="icon-founder founder__svg" role="presentation">
						<use xlink:href="#icon-instagram"></use>
					</svg>
				</a>
				<a class="founder-presentation__socials-link" href="#">
					<svg class="icon-founder founder__svg" role="presentation">
						<use xlink:href="#icon-linkedin"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</section>
