.founder {
    padding-top: 149px;
    padding-bottom: 84px;
    width: 100%;
    background: radial-gradient(78.81% 99.09% at 100.44% 100.91%, #917759 0%, #212731 58.24%, #13191D 84.16%, #111419 100%);
    
    @include tablet {
        padding-bottom: 60px;
    }
    &-inner {
        display: flex;

        @include tablet {
            flex-direction: column;
            position: relative;
        }

    }

    &-intro {
        width: 49%;

        @include tablet {
            width: 100%;
        }

    }

    &-intro__title {
        margin: 0;
        font-family: $defaultFont2;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        background: linear-gradient(129.59deg, #FFF3E1 27.37%, #DAC4A4 63.44%), linear-gradient(132.83deg, #FFFFFF 28.13%, #FFFFFF 71.15%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 39px;

        @include tablet {
            margin-bottom: 34px;
        }

    }

    &-intro__greetings {
        margin: 0;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        background: linear-gradient(129.59deg, #FFF3E1 27.37%, #DAC4A4 63.44%), linear-gradient(129.59deg, #A19C92 27.37%, #8A806E 63.44%), linear-gradient(129.59deg, #FFF3E1 27.37%, #DAC4A4 63.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 21px;
    }

    &-intro__descr {
        width: 80%;
        margin: 0;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        background: linear-gradient(129.59deg, #A19C92 27.37%, #8A806E 63.44%), linear-gradient(129.59deg, #FFF3E1 27.37%, #DAC4A4 63.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 21px;

        @include tablet {
            width: 100%;
        }

        &:last-child {
            margin-bottom: 0;
        }


    }

    &-intro__sign {
        margin-top: 50px;

        @include tablet {
            margin-top: 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            max-width: 134px;
        }

    }

    &-presentation {
        width: 51%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include tablet {
            width: 100%;
            align-items: center;
            padding-bottom: 68px;
        }

    }

    &-presentation__img-wrap {
        max-width: 682px;
        position: absolute;
        left: -10%;
        bottom: -23%;

        @include tablet {
            position: relative;
            left: 0;
            bottom: -80px;
        }

    }

    &-presentation__name {
        margin: 0;
        position: relative;
        z-index: 10;
        margin: 0;
        font-family: $defaultFont2;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 1.2;
        color: #FFFFFF;
        margin-bottom: 27px;

        @include tablet {
            font-size: 24px;
            margin-bottom: 40px;
        }

    }

    &-presentation__socials {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;

    }

    &-presentation__socials-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        &:hover svg{
            transform: scale(1.1);

        }

        svg {
            height: 32px;
            width: 32px;
            transition: all 0.4s ease-in-out;
        }
    }
}