<section class="reviews">
	<div class="reviews-inner container">
		<div class="reviews-slider-wrap">
			<div class="swiper reviews-slider">
				<div class="swiper-wrapper">
					<!-- Slides -->
					<div class="swiper-slide reviews-slide">
						<div class="reviews-slide__deco">
							<img src="/public/assets/images/commas.png" alt="" />
						</div>
						<div class="reviews-slide__customer">
							<div class="reviews-slide__customer-img">
								<img src="/public/assets/images/customer-img.png" alt="" />
							</div>
							<div class="reviews-slide__customer-summary">
								<p class="reviews-slide__customer-name">P. Moramarco</p>
								<p class="reviews-slide__customer-position">
									Athletic Director
								</p>
							</div>
						</div>
						<div class="reviews-slide__feedback-wrap">
							<p class="reviews-slide__feedback">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac
								pulvinar tempor tellus egestas. Sapien felis consectetur et in
								ac. Cursus diam turpis pellentesque viverra lacus, vel nulla
								nunc. Et pharetra proin nunc at nibh sapien aliquam nunc
								lobortis. Pellentesque amet orci adipiscing elit ut sit sem.
							</p>
						</div>
					</div>
					<div class="swiper-slide reviews-slide">
						<div class="reviews-slide__deco">
							<img src="/public/assets/images/commas.png" alt="" />
						</div>
						<div class="reviews-slide__customer">
							<div class="reviews-slide__customer-img">
								<img src="/public/assets/images/customer-img.png" alt="" />
							</div>
							<div class="reviews-slide__customer-summary">
								<p class="reviews-slide__customer-name">P. Moramarco</p>
								<p class="reviews-slide__customer-position">
									Athletic Director
								</p>
							</div>
						</div>
						<div class="reviews-slide__feedback-wrap">
							<p class="reviews-slide__feedback">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac
								pulvinar tempor tellus egestas. Sapien felis consectetur et in
								ac. Cursus diam turpis pellentesque viverra lacus, vel nulla
								nunc. Et pharetra proin nunc at nibh sapien aliquam nunc
								lobortis. Pellentesque amet orci adipiscing elit ut sit sem.
							</p>
						</div>
					</div>
					<div class="swiper-slide reviews-slide">
						<div class="reviews-slide__deco">
							<img src="/public/assets/images/commas.png" alt="" />
						</div>
						<div class="reviews-slide__customer">
							<div class="reviews-slide__customer-img">
								<img src="/public/assets/images/customer-img.png" alt="" />
							</div>
							<div class="reviews-slide__customer-summary">
								<p class="reviews-slide__customer-name">P. Moramarco</p>
								<p class="reviews-slide__customer-position">
									Athletic Director
								</p>
							</div>
						</div>
						<div class="reviews-slide__feedback-wrap">
							<p class="reviews-slide__feedback">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac
								pulvinar tempor tellus egestas. Sapien felis consectetur et in
								ac. Cursus diam turpis pellentesque viverra lacus, vel nulla
								nunc. Et pharetra proin nunc at nibh sapien aliquam nunc
								lobortis. Pellentesque amet orci adipiscing elit ut sit sem.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination reviews-slider-pagination"></div>
		</div>
		<div class="reviews-intro__wrap">
			<div class="reviews-intro">
				<h4 class="reviews-intro__title">Influencer Reviews</h4>
				<p class="reviews-intro__description">
					Performance Enhancing Colognes can help you: Train your body to go
					into a laser-like focus, Get more work done in less time, Increase
					your productivity and help you feel more confident on command.
				</p>
			</div>
			<div class="reviews-slider-control">
				<div class="swiper-button-prev reviews-slider-btn-prev">
					<img src="/public/assets/images/arrow-prev.png" alt="" />
					<!-- <svg class="reviews-slider-btn__svg" role="presentation">
						<use xlink:href="#icon-prev"></use>
					</svg> -->
				</div>
				<div class="swiper-button-next reviews-slider-btn-next">
					<img src="/public/assets/images/arrow-next.png" alt="" />
					<!-- <svg class="reviews-slider-btn__svg" role="presentation">
						<use xlink:href="#icon-next"></use>
					</svg> -->
				</div>
			</div>
		</div>
	</div>
</section>
