<footer class="footer">
	<div class="footer-inner container">
		<div class="footer-top">
			<div class="footer__left">
				<a class="footer__link" href="https://romankiv-wp.smarto.com.ua/">
					<svg class="icon-logo header-logo__svg" role="presentation">
						<use xlink:href="#icon-logo-dark"></use>
					</svg>
				</a>
			</div>
			<div class="footer-questions">
				<span class="footer-questions__title">Got questions?</span>
				<a class="footer-questions__number" href="" type="tel"
					>Tel. (785) 236-8366</a
				>
				<span class="footer-questions__email">Got questions?</span>
			</div>
			<div class="footer-address">
				<span class="footer-address__title">Address</span>
				<span class="footer-address__box">PO Box 415</span>
				<span class="footer-address__descr">Wittenberg, WI 54499</span>
			</div>
			<div class="footer-socials">
				<span class="footer-socials__title"></span>
				<div class="footer-socials__links">
					<a href="#">
						<svg class="icon-logo header-logo__svg" role="presentation">
							<use xlink:href="#icon-facebook"></use>
						</svg>
					</a>
					<a href="#">
						<svg class="icon-logo header-logo__svg" role="presentation">
							<use xlink:href="#icon-instagram"></use>
						</svg>
					</a>
					<a href="#">
						<svg class="icon-logo header-logo__svg" role="presentation">
							<use xlink:href="#icon-linkedin"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<p class="footer-copyrights">© 2022 Mission Fragrances</p>
			<div class="footer-additional"></div>
		</div>
	</div>
</footer>
