<section class="success">
	<div class="success-inner container">
		<div class="success-intro__wrap">
			<h4 class="success-title">
				Performance Enhancing Colognes® Make You More Productive And Successful
				In Life.
			</h4>
			<div class="success-intro">
				<div class="success-intro__text-wrap">
					<p class="success-intro__text">
						Shatter inner blocks, distractions, and power through to your goals
						with purpose, energy, focus, and conviction.
					</p>
					<p class="success-intro__text">
						Join us today and you’ll receive your three Performance Enhancing
						Colognes and you’ll get instant access to our accompanying Mission
						Fragrance App, where your tuition begins.
					</p>
					<p class="success-intro__text">
						And with our live training and revolutionary STAR System, we’ll
						support you every step of the way on your journey to peak
						performance. Today is the day.
					</p>
				</div>
				<div class="success-intro__img-wrap">
					<img
						src="/public/assets/images/success-intro.png"
						alt=""
						class="success-intro__img"
					/>
				</div>
			</div>
		</div>
		<div class="success-card__wrap">
			<div class="success-card">
				<div class="success-card__text">
					<h4 class="success-card__text-title">
						Our 30-day Feel Great Guarantee.
					</h4>
					<p class="success-card__text-descr">
						If you show up to training, take the course and use your Performance
						Enhancing Colognes as instructed, and you can't honestly feel the
						difference - we'll give you your money back. No questions asked
					</p>
					<button class="standard-btn">buy now</button>
				</div>
				<img
					src="/public/assets/images/success-light.png"
					alt=""
					class="success-card__img"
				/>
			</div>
			<img
				class="success-deco success-deco--golden"
				src="/public/assets/images/success-golden.png"
				alt=""
			/>
			<img
				class="success-deco success-deco--dark"
				src="/public/assets/images/success-dark.png"
				alt=""
			/>
		</div>
	</div>
</section>
