<section class="enhancing">
	<div class="enhancing-inner container">
		<p class="enhancing-top__grey-text">Introducing</p>
		<h3 class="enhancing__title">Your 3 Performance Enhancing Colognes</h3>
		<div class="enhancing__img-wrap">
			<img
				class="enhancing__img--light"
				src="../../../assets/images/enhancing-light.png"
				alt=""
			/>
			<img
				class="enhancing__img--golden"
				src="../../../assets/images/enhancing-golden.png"
				alt=""
			/>
			<img
				class="enhancing__img--dark"
				src="../../../assets/images/enhancing-dark.png"
				alt=""
			/>
		</div>
		<p class="enhancing-bottom__golden-text">Honor, Courage, And Commitment</p>
	</div>
</section>
