.productivity {
    position: relative;
    background-color: $dark;
    &-deco__golden {
        position: absolute;
        z-index: 8;
        bottom: 0;
        right: 0;

    }

    &-deco__light {
        position: absolute;
        top: 77px;
        right: 216px;
        z-index: 10;


    }

    &-deco__dark {
        position: absolute;
        top: 82px;
        right: 0;
        z-index: 6;

    }

    &-deco__line {
        position: absolute;
        right: 0;
        top: 0;
    }

    &-intro {
        padding-top: 116px;
        padding-bottom: 296px;

    }

    &-intro__title {
        margin: 0;
        font-family: $defaultFont2;
        font-style: normal;
        font-weight: 700;
        font-size: 76px;
        line-height: 91px;
        background: linear-gradient(97.3deg, #FFE49F 0%, #977A51 100%), linear-gradient(132.83deg, #F1DEC2 28.13%, #B49B75 71.15%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 36px;

    }

    &-intro__description {
        width: 60%;
        margin: 0;
        font-family: $defaultFont2;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        background: linear-gradient(129.59deg, #FFF3E1 27.37%, #DAC4A4 63.44%), linear-gradient(132.83deg, #FFFFFF 28.13%, #FFFFFF 71.15%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 79px;

    }

    &-intro__list {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 45%;

    }

    &-intro__item {
        position: relative;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        background: linear-gradient(129.59deg, #A19C92 27.37%, #8A806E 63.44%), linear-gradient(129.59deg, #FFF3E1 27.37%, #DAC4A4 63.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 50px;
        padding-left: 30px;
        z-index: 4;

        &::before {
            content: '';
            background: url(../../../assets/images/item-disk.png);
            max-height: 98px;
            width: 20px;
            position: absolute;
            left: -20px;
            top: 0;
            z-index: 6;
        }

        &:last-child {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            background: $textGolden;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            margin-bottom: 0;

        }



    }
    
}