<section class="productivity" id="missionFragrances">
	<img
		class="productivity-deco__golden"
		src="/public/assets/images/productivity-golden.png"
		alt=""
	/>
	<img
		class="productivity-deco__light"
		src="/public/assets/images/productivity-light.png"
		alt=""
	/>
	<img
		class="productivity-deco__dark"
		src="/public/assets/images/productivity-dark.png"
		alt=""
	/>
	<img
		class="productivity-deco__line"
		src="/public/assets/images/productivity-line.png"
		alt=""
	/>
	<div class="productivity-intro container">
		<h3 class="productivity-intro__title">Mission Fragrances</h3>
		<p class="productivity-intro__description">
			You can easily win your day with a mental edge. Leverage the hidden power
			of scent to fire up your focus and confidence - and skyrocket your
			productivity, right when you need it most.
		</p>
		<ul class="productivity-intro__list">
			<li class="productivity-intro__item">
				Trigger your Olfactory system and control your emotional state on
				command.
			</li>
			<li class="productivity-intro__item">
				Our three unique scents - Honor, Courage, and Commitment - have been
				formulated to help you condition yourself for higher performance at
				work, at home and everywhere in between.
			</li>
			<li class="productivity-intro__item">
				We teach you how to wear these and what to think as you're putting them
				on so you can unleash the giant within you.
			</li>
			<li class="productivity-intro__item">
				Each Mission Fragrance Set contains three 50ml EDP fragrances and is
				presented in a case engraved with the Mission Fragrances Logo and our
				mission statement.
			</li>
		</ul>
	</div>
</section>
