* {
	box-sizing: border-box;
  }
  
  *::after,
  *::before {
	box-sizing: border-box;
  }

html, body {
	margin: 0;
	line-height: 1.5em;
	width: 100% !important; 
	overflow-x: hidden !important;
	font-family: $defaultFont;
	font-size: 14px;
	scroll-behavior: smooth;
  }

html {
	height: -webkit-fill-available;
}
  
body {
	min-height: 100vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
}



// body {
// 	min-height: 100%;
// 	width: 100%;
// 	font-family: $defaultFont;
// 	margin: 0;
// 	padding: 0;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.wrapper {
	background-color: $dark;
	position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    min-height: 100vh;
    flex: 1;
	overflow: hidden;
	scroll-behavior: smooth;
}

.content {
	flex-grow: 1;
    overflow: hidden;
}

.container {
	max-width: 100%;
	padding: 0 315px;
	margin: 0 auto;

	// @include tabletLarge {
	//   padding: 0 50px;
	// }

	// @include tablet {
	//   padding: 0 50px;
	// }

	// @include mobile {
	//   padding: 0 20px;
	// }
}
