.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: $defaultFont;
}

.content {
	flex: 1;
}

.container {
	max-width: 100%;
	padding: 0 315px;
	margin: 0 auto;
  
	// @include tabletLarge {
	//   padding: 0 50px;
	// }
  
	// @include tablet {
	//   padding: 0 50px;
	// }
  
	// @include mobile {
	//   padding: 0 20px;
	// }
  }
  
