$defaultFont: 'Poppins', sans-serif;
$defaultFont2: 'Syne', sans-serif;

$dark: #0d1215;
$textGolden: #C0A775;
$black: #3A342A;
$greySection: #525252;
$greyTitle: #747474;
$greyText: #67696A;
$greyCredentials: #687079;
$whiteColor: #ffffff;
$greyFooter: #4F4542;

:root {
    --header-h: 150px;
}