.performances {
    background-color: $dark;
    width: 100%;

    &-inner {
        display: flex;

        @include tablet {
            flex-direction: column;
        }
    }

    &-figure {
        position: relative;
        padding: 37px 164px 158px 315px;
        background: linear-gradient(149.73deg, rgba(36, 34, 31, 0) 26.36%, #1C2127 99.35%);
box-shadow: 37px -42px 100px #0E1215;

        @include tablet {
            padding: 60px 20px 60px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    &-figure__deco {
        position: absolute;
        top: 0;
        right: 164px;

        @include tablet {
            display: none;
        }
    }

    &-figure__intro {
        width: 70%;

        @include tablet {
            width: 100%;
        }

    }

    &-figure_title-mobile {
        display: none;

        @include tablet {
            display: block;
            margin: 0;
            font-family: $defaultFont2;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28.8px;
            text-align: center;
            background: linear-gradient(132.83deg, #F1DEC2 28.13%, #B49B75 71.15%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            margin-bottom: 20px;
        }

    }

    &-figure__intro-percent {
        margin: 0;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 250;
        font-size: 64px;
        line-height: 96px;
        background: linear-gradient(129.59deg, #DAC4A4 27.37%, #8A806E 63.44%), linear-gradient(129.59deg, #A19C92 27.37%, #8A806E 63.44%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        @include tablet {
            text-align: center;
        }

    }

    &-figure__intro-descr {
        margin: 0;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.5;
        background: linear-gradient(129.59deg, #A19C92 27.37%, #8A806E 63.44%), linear-gradient(129.59deg, #DAC4A4 27.37%, #8A806E 63.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        @include tablet {
            margin: 0 auto;
            text-align: center;
            font-size: 12px;
            width: 85%;
        }

        > span {
            font-weight: 400;
            background: linear-gradient(129.59deg, #F0DCBF 27.37%, #8A806E 63.44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;

        }

    }

    &-figure__img-wrap {
        max-height: 250px;
        width: 0;

        @include tablet {
            width: auto;
        }
    }

    &-figure__img {
        position: relative;
        top: -90px;
        left: -140px;
        max-width: 780px;

        @include tablet {
            margin-top: 20px;
            max-width: 500px;
        }

        @include mobile {
            margin-top: 13px;
            top: 0;
            left: -20px;
            max-width: 367px;
        }

    }

    &-figure__caption {
        width: 100%;
    }

    &-figure__caption-text {
        margin: 0;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.5;
        background: linear-gradient(129.59deg, #A19C92 27.37%, #8A806E 63.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        position: relative;
        padding-left: 36px;

        @include tablet {
            padding-left: 20px;
            margin-top: 20px;
            margin-bottom: 46px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -20px;
            width: 2px;
            height: 116px;
            background: linear-gradient(180deg, #9A896E 0%, rgba(0, 0, 0, 0) 100%);

            @include tablet {
               top: -10px;
            }

        }

    }

    &-figure__btn--mob {
        display: none;

        @include tablet {
            display: block;
        }

    }

    &-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        left: -100px;

        @include tablet {
            display: none;
        }

    }

    &-intro__title {
        margin: 0;
        font-family: $defaultFont2;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        background: linear-gradient(129.59deg, #FFF3E1 27.37%, #DAC4A4 63.44%), linear-gradient(132.83deg, #FFFFFF 28.13%, #FFFFFF 71.15%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        width: 50%;
        margin-bottom: 60px;

    }
}