<section class="performances">
	<div class="performances-inner">
		<div class="performances-figure">
			<img
				class="performances-figure__deco"
				src="/public/assets/images/performances-deco.png"
				alt=""
			/>
			<div class="performances-figure__intro">
				<p class="performances-figure__intro-percent">+543%</p>
				<p class="performances-figure__intro-descr">
					<span>Based on our customer's experiences,</span> your productivity
					and focus levels could increase by 543% overnight.
				</p>
			</div>
			<div class="performances-figure__img-wrap">
				<img
					class="performances-figure__img"
					src="/public/assets/images/performances-figure.png"
					alt=""
				/>
			</div>

			<div class="performances-figure__caption">
				<p class="performances-figure__caption-text">
					You can easily win your day with a mental edge. Leverage the hidden
					power of scent to fire up your focus and confidence - and skyrocket
					your productivity, right when you need it most.
				</p>
			</div>
		</div>
		<div class="performances-intro">
			<h3 class="performances-intro__title">
				Our Performance Enhancing Colognes® Are Guaranteed To Help You Achieve
				Peak Performance.
			</h3>
			<button class="standard-btn performances-intro__btn">BUY NOW</button>
		</div>
	</div>
</section>
