<section class="performances">
	<div class="performances-inner">
		<div class="performances-figure">
			<img class="performances-figure__deco" src="" alt="" />
			<div class="performances-figure__intro">
				<p class="performances-figure__intro-percent"></p>
				<p class="performances-figure__intro-descr"></p>
			</div>
			<img class="performances-figure__img" src="" alt="" />
			<div class="performances-figure__caption">
				<img class="performances-figure__caption-line" src="" alt="" />
				<p class="performances-figure__caption-text"></p>
			</div>
		</div>
		<div class="performances-intro">
			<h3 class="performances-intro__title"></h3>
			<button class="performances-intro__btn"></button>
		</div>
	</div>
</section>
