<section class="intro">
	<div class="intro-wrap container">
		<p class="intro-text">Performance Enhancing Colognes®</p>
		<h1 class="intro-title">
			Increase Confidence, Boost Productivity, & Unlock Your Full Potential
		</h1>
		<button class="standard-btn intro-btn">BUY NOW</button>
		<div class="intro-img-wrap">
			<img
				class="intro-golden-bottle"
				src="/public/assets/images/golden-bottle.png"
				alt=""
			/>
			<img
				class="intro-light-bottle"
				src="/public/assets/images/light-grey-bottle-blurred.png"
				alt=""
			/>
			<img
				class="intro-grey-bottle"
				src="/public/assets/images/grey-bottle-blurred.png"
				alt=""
			/>
		</div>
		<img
			class="intro-line__left"
			src="/public/assets/images/intro-line-left.png"
			alt=""
		/>
		<img
			class="intro-line__top"
			src="/public/assets/images/intro-line-top.png"
			alt=""
		/>
		<img
			class="intro-line__bottom"
			src="/public/assets/images/intro-line-bottom.png"
			alt=""
		/>
	</div>
</section>
