<section class="shape">
	<div class="shape-summary">
		<img
			class="shape-summary__image"
			src="../../../assets/images/shape-brain.png"
			alt=""
		/>
		<div class="shape-summary__text">
			<p class="shape-summary__text-content">
				Feeling tired or frustrated? Leverage the power of scent to boost your
				emotional state with confidence or excitement.
			</p>
		</div>
	</div>
	<div class="shape-intro">
		<div class="shape-intro__text-wrap">
			<h3 class="shape-intro__title">
				Shape and change how you act, how you feel, and most importantly, how
				you show up every day.
			</h3>
			<p class="shape-intro__description">
				Develop laser-like focus, make smarter decisions faster and skyrocket
				your productivity.
			</p>
		</div>
		<div class="shape-intro__button-wrap">
			<div class="shape-intro__button-text-wrap">
				<p class="shape-intro__button-text">
					Experience the instant flood of neurochemicals you need to get into
					the zone.
				</p>
				<p class="shape-intro__button-text">
					Change your emotional state on command, allowing you to control your
					day before it controls you.
				</p>
			</div>
			<button class="standard-btn shape-intro__button">BUY NOW</button>
		</div>
	</div>
</section>
