<div class="section-slogan-app__bg">
	<section class="slogan">
		<div class="slogan-inner container">
			<div class="slogan-text__wrap">
				<p class="slogan-text--bold">
					If there is one thing I can be certain of today it’s this:
				</p>
				<p class="slogan-text--light">
					I'd say this needs to be bigger and bold, and the copy above "If there
					is one..." can be smaller and less bold.
				</p>
				<div class="slogan-img">
					<img src="/public/assets/images/slogan-arrow.png" alt="" />
				</div>
			</div>
			<div class="slogan-right">
				<div class="slogan-right__text-wrap">
					<p class="slogan-right__text">
						Mission Fragrances helps you master your day, and become the best
						version of yourself when you need it most.
					</p>
					<p class="slogan-right__text">
						Experience the life-changing effect of Mission Fragrances
						Performance Enhancing Colognes® today.
					</p>
				</div>
				<button class="standard-btn">BUY NOW</button>
			</div>
		</div>
	</section>
	<section class="app" id="productivityApp">
		<div class="app-inner container">
			<div class="app-intro">
				<h4 class="app-title">
					As An Added Bonus You Also Get Access To Our Productivity On Demand
					App.
				</h4>
				<div class="app-intro__main">
					<div class="app-intro__left">
						<p class="app-intro__left-text">
							We believe that transformation is a daily process.
						</p>
						<p class="app-intro__left-text">
							So to go above and beyond, you also get free lifetime access to
							our new Productivity On Demand App.
						</p>
					</div>
					<div class="app-intro__center">
						<img
							class="app-intro__center-img"
							src="/public/assets/images/app-img.png"
							alt=""
						/>
						<h5 class="app-list__title app-list__title--mobile">
							Here’s exactly what you will get inside our Productivity Mastery
							App:
						</h5>
					</div>
					<div class="app-intro__right">
						<p class="app-intro__right-text">
							A new android and IOS app that is designed to help you become more
							productive, win your day, and use your Performance Enhancing
							Colognes® for maximum effect.
						</p>
					</div>
				</div>
			</div>
			<div class="app-list__wrap">
				<h5 class="app-list__title">
					Here’s exactly what you will get inside our Productivity Mastery App:
				</h5>
				<div class="app-list">
					<div class="app-card">
						<h5 class="app-card__title">Mission Fragrances Scent Training.</h5>
						<p class="app-card__descr">
							You’ll learn how and when to use your Performance Enhancing
							Colognes® using our unique four-step S.T.A.R. system (Select, take
							Action, Anchor, Repeat).
						</p>
						<p class="app-card__descr">
							We'll show you how to choose your desired state for each fragrance
							and work with you to unlock your full potential.
						</p>
					</div>
					<div class="app-card">
						<h5 class="app-card__title">
							A Productivity Course Designed To Help You Master Your Day.
						</h5>
						<p class="app-card__descr">
							The App contains our Productivity Mastery Academy, where you’ll
							discover the insights, strategies, tools, and frameworks you need
							to destroy distraction, skyrocket your productivity, and unlock
							your full potential.
						</p>
						<p class="app-card__descr">
							You'll discover how to skyrocket your productivity, kill
							procrastination, prioritize like a pro and help you spend more
							time doing the things you love.
						</p>
					</div>
					<div class="app-card">
						<h5 class="app-card__title">
							Weekly Live Coaching Calls With Me And My Team.
						</h5>
						<p class="app-card__descr">
							In addition to all this, you will also get direct access to me
							every single week. Where you can ask me whatever you want.
						</p>
						<p class="app-card__descr">
							In addition to all this, you will also get direct access to me
							every single week. Where you can ask me whatever you want. During
							these calls, I reveal my most closely guarded insights into
							personal development, high performance, presentation, and success.
						</p>
						<p class="app-card__descr">
							My Live coaching calls have been a game-changer for men looking to
							bring their goals to life, take control of their time, and build
							high-performance habits that stick.
						</p>
					</div>
					<div class="app-card">
						<h5 class="app-card__title">
							Your Very Own Personal Accountability Coach.
						</h5>
						<p class="app-card__descr">
							You will also be assigned your Accountability Coach. They will
							track your progress as you go through the course and hold you
							accountable for taking action and becoming a better man.
						</p>
						<p class="app-card__descr">
							You'll get all the guidance and support you need to use your
							Performance Enhancing Colognes® correctly, setting you up for
							success.
						</p>
					</div>
				</div>
			</div>

			<div class="app-btn-wrap">
				<button class="standard-btn">BUY NOW</button>
			</div>
		</div>
	</section>
</div>
