.mission {
    background-color: $dark;
    position: relative;
    width: 100%;

    &-bg {
        position: absolute;
        left: 0;
        bottom: 0;

        @include tablet {
            display: none;
        }

    }

    &-wrap {
        padding-top: 150px;
        padding-bottom: 371px;

        @include tablet {
            padding-top: 100px;
            padding-bottom: 100px;

        }

        @include mobile {
            padding-top: 77px;
            padding-bottom: 77px;
        }

    }

    &-intro {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &-intro__text {
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 275;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.26em;
        text-transform: uppercase;
        color: $greySection;
        margin: 0;
        margin-bottom: 50px;

        @include tablet {
            font-size: 16px;
            margin-bottom: 40px;
        }
        
    }

    &-intro__title {
        margin: 0;
        font-family: $defaultFont2;
        font-style: normal;
        font-weight: 600;
        font-size: 76px;
        line-height: 1.2;
        background: linear-gradient(132.83deg, #F1DEC2 28.13%, #B49B75 71.15%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 40px;

        @include tablet {
            text-align: center;
            font-size: 50px;
            margin-bottom: 34px;

        }

        @include mobile {
            font-size: 42px;

        }

    }

    &-intro__descr {
        margin: 0;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: $textGolden;

        @include tablet {
            text-align: center;
            font-size: 18px;
        }
    }

    &-development {
        position: relative;
        max-width: 1290px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 701px;
        padding-top: 169px;
        // padding-bottom: 36px;
        @include tablet {
            padding-top: 40px;
            flex-direction: column;
            height: auto;
        }
        @include mobile {
            padding-top: 20px;
        }
    }


    &-development__top {
        position: relative;
        width: 43%;

        @include tablet {
            width: 100%;
        }

    }

    &-development__text {
        margin: 0;
        width: 60%;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        background: linear-gradient(129.59deg, #A19C92 27.37%, #8A806E 63.44%), linear-gradient(129.59deg, rgba(255, 243, 225, 0.6) 27.37%, rgba(218, 196, 164, 0.6) 63.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        background-clip: text;
    
        @include tablet {
            width: 100%;
        }
    }

    &-development__text--top {
        margin-top: 80px;

        @include tablet {
            margin-top: 61px;
        }

    }

    &-development__text--bottom {
        margin-bottom: 80px;
        position: relative;
        left: 31%;

        @include tablet {
            left: 0;
            margin-top: 30px;
            margin-bottom: 0;
        }

    }

    &-line--top {
        position: absolute;
        top: 0;
        right: 0;
        height: 204px;
        max-width: none;

        @include tablet {
            display: none;
        }

    }

    &-development__bottom {
        position: relative;
        align-self: flex-end;
        width: 45%;

        @include tablet {
            width: 100%;
        }

    }

    &-line--bottom{
        position: absolute;
        bottom: 0;
        height: 204px;
        max-width: none;

        @include tablet {
            display: none;
        }
    }

    &-development__img-layer {
        @include tablet {
            position: relative;
        }
    }

    &-development__bottle-roated {
        position: absolute;
        left: 26%;
        bottom: 0;
        // transform: translate(-50%, 0);
        z-index: 10;
        @include tablet {
            position: relative;
            left: 0;
        }
    }

    &-development__ellipse {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 8;
        width: 100%;
    }

    &-development__spark {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-21%, 17%) rotate(16.6deg) translate(-50%, -50%);
        z-index: 6;
        transform-origin: center;
    }

    &-power {
        padding-top: 231px;
        position: relative;
        display: flex;
        justify-content: space-between;

        @include tablet {
            padding-top: 80px;
            flex-direction: column;
        }

    }

    &-power__img {
        position: absolute;
        left: 50%;
        top: -12px;
        transform: translate(-50%, 0%);
        width: fit-content;

        @include tablet {
            display: none;
        }

    }

    &-power__img--mobile {
        display: none;
        @include tablet {
            display: block;
            top: auto;
            bottom: 0px;
            transform: translate(-50%, 100%);
        }
    }

    &-power__intro {
        width: 40%;


        @include tablet {
            width: 100%;
            margin-bottom: 78px;
        }

    }

    &-power__intro-title {
        margin: 0;
        font-family: $defaultFont2;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 1.2;
        background: linear-gradient(129.59deg, #FFF3E1 27.37%, #DAC4A4 63.44%), linear-gradient(132.83deg, #FFFFFF 28.13%, #FFFFFF 71.15%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 50px;

        @include tablet {
            font-size: 30px;
            margin-bottom: 16px;
        }

        @include mobile {
            font-size: 24px;
        }

    }

    &-power__intro-descr {
        width: 70%;
        margin: 0;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        background: linear-gradient(129.59deg, #FFF3E1 27.37%, #DAC4A4 63.44%), linear-gradient(129.59deg, #A19C92 27.37%, #8A806E 63.44%), linear-gradient(129.59deg, #FFF3E1 27.37%, #DAC4A4 63.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        @include tablet {
            width: 100%;
            font-size: 15px;
        }
    }

    &-power__text {
        width: 33%;

        @include tablet {
            width: 100%;
        }
    }

    &-power-bg-mobile {
        display: none;

        @include tablet {
            display: block;
            position: absolute;
            right: -30px;
            top: -85px;
        }
    }

    &-power__text-percents {
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
        position: relative;

        @include tablet {
            margin-bottom: 22px;
        }

    }

    &-power-deco__line {
        position: absolute;
        top: 443px;

        @include tablet {
            display: none;
        }

    }

    &-power__text-title {
        margin: 0;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 250;
        font-size: 96px;
        line-height: 120px;
        background: linear-gradient(129.59deg, #A19C92 27.37%, #8A806E 63.44%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 11px;
        z-index: 12;

    }

    &-power__text-descr {
        margin: 0;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        background: linear-gradient(129.59deg, #A19C92 27.37%, #8A806E 63.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        z-index: 12;
    }

    &-power__text-summary {
        margin: 0;
        font-family: $defaultFont;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        background: linear-gradient(129.59deg, #A19C92 27.37%, #8A806E 63.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }

    }


}