<section class="mission">
	<img
		class="mission-bg"
		src="/public/assets/images/mission-fragrances-bg.png"
		alt=""
	/>
	<div class="mission-wrap container">
		<div class="mission-intro">
			<p class="mission-intro__text">Introducing</p>
			<h2 class="mission-intro__title">Mission Fragrances</h2>
			<p class="mission-intro__descr">
				The World's First Performance Enhancing Colognes®
			</p>
		</div>
		<div class="mission-development">
			<div class="mission-development__img-layer">
				<img
					class="mission-development__bottle-roated"
					src="/public/assets/images/golden-bottle-rotated.png"
					alt=""
				/>
				<img
					class="mission-development__ellipse"
					src="/public/assets/images/ellipse.png"
					alt=""
				/>
				<img
					class="mission-development__spark"
					src="/public/assets/images/spark.png"
					alt=""
				/>
			</div>
			<div class="mission-development__top">
				<p class="mission-development__text mission-development__text--top">
					We've created the first set of colognes specifically formulated to
					improve your work ethic, mental state, and focus in real-time.
					Instantly elevate your energy and get in the zone whenever you need it
					most.
				</p>
				<img
					class="mission-line--top"
					src="/public/assets/images/mission-top-line.png"
					alt="line from the top"
				/>
			</div>
			<div class="mission-development__center">
				<div class="mission-development__center-line"></div>
			</div>
			<div class="mission-development__bottom">
				<p class="mission-development__text mission-development__text--bottom">
					Mission Fragrances is a new type of colognes that changes your
					emotional and mental state by triggering your body using a range of
					natural performance-enhancing scents.
				</p>
				<img
					class="mission-line--bottom"
					src="/public/assets/images/mission-bottom-line.png"
					alt="line from the bottom"
				/>
			</div>
		</div>
		<div class="mission-power">
			<div class="mission-power__img">
				<img src="/public/assets/images/knife.png" alt="" />
			</div>
			<div class="mission-power__intro">
				<h3 class="mission-power__intro-title">
					Scent Is A Power Tool For Transforming Your Mental And Emotional
					State.
				</h3>
				<p class="mission-power__intro-descr">
					Inside every human being, there's a unique mechanism that acts as an
					"on switch" for your brain. It's called the "Olfactory System" (your
					sense of smell).
				</p>
			</div>
			<div class="mission-power__text">
				<div class="mission-power__text-percents">
					<span class="mission-power__text-title">75%</span>
					<img
						class="mission-power-deco__line"
						src="/public/assets/images/productivity-line.png"
						alt=""
					/>
					<span class="mission-power__text-descr"
						>of your emotions are triggered by scent.
					</span>
				</div>
				<p class="mission-power__text-summary">
					Like how flipping a light switch floods brightness into a pitch-black
					room, the right combination of scents activates an instant shift in
					your physical state that floods your mind with clarity, focus, and
					motivation.
				</p>
				<p class="mission-power__text-summary">
					With the right combination of scents, at the right time, you can
					condition yourself to feel instantly happier, more focused, and more
					productive.
				</p>
			</div>
		</div>
	</div>
</section>
