<section class="slogan">
	<div class="slogan-inner container">
		<div class="slogan-text__wrap">
			<p class="slogan-text--bold">
				If there is one thing I can be certain of today it’s this:
			</p>
			<p class="slogan-text--light">
				I'd say this needs to be bigger and bold, and the copy above "If there
				is one..." can be smaller and less bold.
			</p>
			<div class="slogan-img">
				<img src="/public/assets/images/slogan-arrow.png" alt="" />
			</div>
		</div>
		<div class="slogan-right">
			<div class="slogan-right__text-wrap">
				<p class="slogan-right__text">
					Mission Fragrances helps you master your day, and become the best
					version of yourself when you need it most.
				</p>
				<p class="slogan-right__text">
					Experience the life-changing effect of Mission Fragrances Performance
					Enhancing Colognes® today.
				</p>
			</div>
			<button class="standard-btn">BUY NOW</button>
		</div>
	</div>
</section>
