<header class="header">
	<div class="header-inner container">
		<div class="header__left">
			<a class="header__link" href="#">
				<svg class="icon-logo header-logo__svg" role="presentation">
					<use xlink:href="#icon-logo"></use>
				</svg>
			</a>
		</div>
		<a id="toggle-menu">
			<span> </span>
		</a>
		<nav id="site-navigation" class="main-navigation">
			<ul class="header-nav">
				{{#each navItems}}
				<li class="header-nav__item">
					<a class="header-nav__link" href="{{this.href}}">{{this.label}}</a>
				</li>
				{{/each}}
			</ul>
		</nav>
	</div>
</header>
